.authentic-recipes {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    /* height: 70vh; */
    align-items: center;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.know-more-btn {
    position: absolute;
    bottom: 10px;
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    transition: background-color 0.3s;
}

.know-more-btn:hover {
    background-color: #e55b00;
}

.authentic-recipes hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
}