.tea-time-container.bg-\[\#FAEBD7\].p-8.rounded-lg.flex.items-center.shadow-lg {
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
}
@media (max-width: 480px) {

.tea-time-container.bg-\[\#FAEBD7\].p-8.rounded-lg.flex.items-center.shadow-lg {
  height: 75vh;
  flex-direction: column;
}
}
@media (max-width: 720px) {

  .tea-time-container.bg-\[\#FAEBD7\].p-8.rounded-lg.flex.items-center.shadow-lg {
    height: 75vh;
    flex-direction: column;
  }
  }
  .royal-frame {
    border: 10px solid #f8bdb5;
    border-radius: 15px;
    padding: 10px;
    background: linear-gradient(145deg, rgba(255, 255, 255, 0.6), rgba(255, 215, 0, 0.3));
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  .royal-frame img {
    border-radius: 10px;
  }
  
  