.testimonials.relative.flex.flex-col.items-center.text-center.p-6.max-w-3xl.mx-auto {
    height: 37vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 480px) {
.testimonials.relative.flex.flex-col.items-center.text-center.p-6.max-w-3xl.mx-auto {
    height: 50vh;
}
}